# .NET 6
*.swp
*~
*.log
*.bak
*.cache
*.csproj.user
*.dbmdl
*.jfm
*.pfx
*.pidb
*.suo
*.user
*.vsp
*.vspx
*_i.c
*_p.c
*.ncb
*.sbr
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.[Pp]ublish.xml
*.[Pp]db
*.[Oo]bj
bin/
obj/